/* there will be something here later */
button,  select{
    margin-bottom: 15px;
    margin-left: 0;
    width: 105px;
    height: 60px;
}

canvas {
    border: 0.5px solid
}

.biggerfont {
    font-size: 20px;
}